<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
	<link rel="stylesheet" th:href="@{/css/global.css}" />
	<title>个人主页</title>
</head>
<body>
	<div class="nk-container">
		<!-- 头部 -->
		<header class="bg-dark sticky-top" th:replace="index::header"></header>

		<!-- 内容 -->
		<div class="main">
			<div class="container">
				<!-- 选项 -->
				<div class="position-relative" th:replace="/site/profile::options"></div>

				<!-- 我的回复 -->
				<div class="mt-4">
					<h6><b class="square"></b> 回复的帖子(<i th:text="${replyCount}">回复的帖子数量</i>)</h6>
					<ul class="list-unstyled mt-4 pl-3 pr-3">
						<li class="border-bottom pb-3 mt-4" th:each="map:${replys}">
							<div class="font-size-16 text-info">
								<a th:href="@{|/discuss/detail/${map.post.id}|}"
								   th:utext="${map.post.title}"
								   class="text-info">备战春招，面试刷题跟他复习，一个月全搞定！</a>
							</div>
							<div class="mt-1 font-size-14" th:text="${map.comment.content}">
								顶顶顶!								
							</div>
							<div class="text-right font-size-12 text-muted">
								回复于 <b th:text="${#dates.format(map.comment.createTime,'yyyy-MM-dd HH:mm:ss')}">2019-04-15 10:10:10</b>
							</div>
						</li>
					</ul>
					<!-- 分页 -->
					<nav class="mt-5" th:replace="index::pageLogic"></nav>
				</div>				
			</div>
		</div>

		<!-- 尾部 -->
		<footer class="bg-dark" th:replace="index::footer"></footer>
	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
	<script th:src="@{/js/global.js}"></script>
</body>
</html>
