<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ningct.nowcodercommunity.mapper.CommentMapper">
    <sql id="selectFields">
        id, user_id, entity_type, entity_id, target_id, content, status, create_time
    </sql>
    <sql id = "insertFields">
        user_id, entity_type, entity_id, target_id, content, status, create_time
    </sql>

    <insert id="insertComment" parameterType="com.ningct.nowcodercommunity.entity.Comment">
        insert into comment(<include refid="insertFields"></include>)
        values (#{userId},#{entityType},#{entityId},#{targetId},#{content},#{status},#{createTime})
    </insert>

    <select id="selectCommentByEntity" resultType="com.ningct.nowcodercommunity.entity.Comment">
        select <include refid="selectFields"></include>
        from comment
        where status = 0
        and entity_id = #{entityId}
        and entity_type = #{entityType}
        order by create_time desc
        limit #{offset}, #{limit}
    </select>

    <select id="selectCommentCount" resultType="int">
        select count(id)
        from comment
        where status = 0
        and entity_id = #{entityId}
        and entity_type = #{entityType}
    </select>
    <select id="selectCommentById" resultType="com.ningct.nowcodercommunity.entity.Comment">
        select <include refid="selectFields"></include> from comment
        where id = #{id}
    </select>
    <select id="findCommentByUserId" resultType="com.ningct.nowcodercommunity.entity.Comment">
        select <include refid="selectFields"></include>
        from comment
        where status = 0
        and user_id = #{userId}
        order by create_time desc
        limit #{offset}, #{limit}
    </select>
    <select id="findCommentCount" resultType="java.lang.Integer">
        select count(id)
        from comment
        where status = 0
          and user_id = #{userId}
    </select>
</mapper>